.container{
    display:flex;
    justify-content:center ;
    align-items: center;
    
}
.content{
    box-shadow: 0 0 2px;
    padding: 10px;
    display: flex;
    width:70vw;
    justify-content:center ;
    align-items: center;
}
.sty form input{

    padding: 8px;
    margin: 10px;
    width:40vw;
}
.sty form button{
    padding: 12px;
    border: none;
    background-color: rgba(108, 153, 238, 0.781);
    color:white;
    border-radius: 10px;
    cursor: pointer;
    size: 30px;
    
}
.sty form button:hover{
     background-color: rgba(138, 173, 238, 0.781);
}
h2{
    text-align:center ;
}
p{
    text-align:center ;
}
.btn{
    display: flex;
    justify-content: center;
}