footer{
    margin: 0;
    /* display: flex; */
    background-color: rgb(45, 45, 46);
    color: white;
    padding: 0px;
}
.continer{
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 5px;
    
}
.links{
    text-decoration: none;
}
.links:visited{
    color: white;
}
h3{
    text-align: center;
}
.copy-right{
    text-align: center;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 0;
}
li{
    list-style-type: none;
    margin:7px
}
.continer div {
    border-right: solid white 5px;
    padding-right: 60px;
    margin: 30px;
}
.title-footer{
    border-left: solid white 5px;
    /* padding-left: 30px; */
    width:30vw;
    height: 30vh;
    display: flex;
    gap:50px;
}
.title-footer p{
    border: solid white 2px;
    border-radius: 6px;
    padding: 30px;
}
.title-footer h2{
    padding: 20px;
}