body, html{
    margin:0;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: rgb(45, 45, 46);
    
    /* background-color: rgba(23, 23, 24, 0.973); */
    margin: 0;
    padding: 10px;
    position: sticky;
}

.title span{
    font-size:1.5rem ;
    
}
.title{
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
}
.title:visited{
    color: white;
}
.naves{
    text-decoration: none;
}
.naves:visited{
    color: white;
}
nav ul li{
    list-style-type: none;
    
}
nav ul{
    display: flex;
    gap:10px;
    
}
/* .naves:active{
    background-color: red;
    border-radius: 2px;
} */
img{
    width: 70px;
    height: 50px;
    border-radius: 100%;
    margin: 10px;
}
.btn{
    display: flex;
    gap:39px;
    height: 100%;
    padding: 10px;
}
.register  {
    background-color: rgba(7, 143, 235, 0.959);
    color:white;
    padding:10px;
    text-align: center;
    border-radius: 40px;
    text-decoration: none;
}
.login{
    background-color: black;
    color:white;
    padding:10px;
    text-align: center;
    border-radius: 40px;
    text-decoration: none;
}